@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-350px * 7));
        transform: translateX(calc(-350px * 7));
    }
}


$h2Size: 40pt;
$h4Size:60pt;
$h5Size:30pt;

#photo {
    height: 54vw;
    background-image: url("../../../assets/img/pexels-polina-zimmerman-3747468.jpg");
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
}

#born {
    padding-left: 1%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#firstImgBox{
    max-height: 650px;
}

.shopBox{
    bottom: 15%;
    right:  5%;
    height: 5%;
    width: 15%;
    height: 10%;
}


.slider {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: -45px;
}

.diferens{
    font-family: 'Migra';
    font-size: 70pt; 
}

.slider .slide-track {
    display: flex;
    animation: scroll 100s linear infinite;
    -webkit-animation: scroll 100s linear infinite;
    width: calc(350px * 14);
}

.imgOption{
    height: 800px;
    object-fit: cover;
    transition: 0.8s;
}

.pointer{
    cursor: pointer;
}

.enlaceHover:hover .imgOption{
    transform: scale(1.07);
}

.imgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.8s;
}

.enlaceHover:hover .imgOverlay{
    opacity: 1;
}

.textImgHover{
    top: 5%;
    font-size: 30pt;
    color: white;
}

.textImgHover:hover{
    cursor: pointer;
}

h5{
    font-size: $h5Size;
}

h4{
    font-size: $h4Size;
}

.mt-6{
    margin-top: 15%;
}

.slider .slide h3 {
    font-family: "magz";
    font-size: 50pt;
    //color: transparent;
    -webkit-text-stroke: 1.5px black;
    text-stroke: 1.5px black;
    color: transparent;
    width: 350px;
}

.display-block{
    display: inline-block;
}

.palabra{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    opacity: 0;
    transform: translateY(100px);
}

h2 {
    font-size: $h2Size;
    text-align: center;
    font-weight: 900;
}

.animatedImgBox {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 70%;
    width: 50%;
}

#image-cover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.blackCover{
    background-color: #212529;
}

.whiteCover{
    background-color: white;
}


.text-zoom{
    font-family: "Clearface";
}

.text-h{
    font-weight: 600;
}

@media (max-width: 768px) {
    $h2Size: 20pt;
    $h4Size:26pt;
    $h5Size:15pt;

    h2 {
        font-size: $h2Size;
    }

    .imgOption{
        height: 500px;
    }

    h4{
        font-size: $h4Size;
    }

    .diferens{
        font-size: 30pt; 
    }
    
    h5{
        font-size: $h5Size;
    }

    #photo {
        height: 160vw;
    }

    .palabra{
        opacity: 1;
        transform: translateY(0);
    }

    #firstImgBox{
        img{
            height: 450px;
        }
    }
}