<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<mat-tab-group mat-stretch-tabs="false">
    <mat-tab label="Locales" i18n-label="local local">
        <section class="container admin-section pt-5">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <input type="text" class="form-control input" placeholder="Filtrar" i18n-placeholder="filtrarLocal"
                                (input)="filtrar($event)" />
                        </div>
                        <div class="col-6 offset-md-3 text-end">
                            <button class="btn btn-primary" (click)="crearLocal()" i18n="addlocal btn"><i class="bi bi-building-add"></i>
                                Añadir local</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col overflow-x-auto">
                            <table class="table table-striped mt-5">
                                <thead>
                                    <tr>
                                        <th scope="col" i18n="tablelocal local">Local</th>
                                        <th scope="col" i18n="tablelocal direc">Dirección</th>
                                        <th scope="col" i18n="tablelocal Provincia">Provincia</th>
                                        <th scope="col" i18n="tablelocal Acciones">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if(localesFiltrados.length != 0){
                                        @for(local of localesFiltrados;track local.id){
                                        <tr>
                                            <td>{{local.nombre}}</td>
                                            <td>{{local.direccion}}</td>
                                            <td>{{local.provincia}}</td>
                                            <td>
                                                <a class="link-danger p-2" (click)="eliminarLocal(local.id)"><i
                                                        class="bi bi-trash"></i></a>
                                                <a class="link-primary p-2" (click)="editarLocal(local.id)"><i
                                                        class="bi bi-pen"></i></a>
                                            </td>
                                        </tr>
                                        }
                                    }@else{
                                        <tr>
                                            <th colspan="4" class="text-center" i18n="no locals">No existen locales registrados</th>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </mat-tab>
    <mat-tab label="Solicitudes" i18n-label="local solicitud">
        <section class="container admin-section pt-5">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <input type="text" class="form-control input" placeholder="Filtrar" i18n-placeholder="filtrarSolicitud"
                                (input)="filtrarSolicitudes($event)" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col overflow-x-auto">
                            <table class="table table-striped mt-5">
                                <thead>
                                    <tr>
                                        <th scope="col" i18n="solicitud local">Local</th>
                                        <th scope="col" i18n="solicitud direc">Dirección</th>
                                        <th scope="col" i18n="solicitud Provincia">Provincia</th>
                                        <th scope="col" i18n="solicitud Acciones">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if(solicitudesFiltradas.length != 0){
                                    @for(local of solicitudesFiltradas;track local.id){
                                    <tr>
                                        <td>{{local.nombre}}</td>
                                        <td>{{local.direccion}}</td>
                                        <td>{{local.provincia}}</td>
                                        <td>
                                            <a class="link-danger p-2" (click)="eliminarLocal(local.id)"><i
                                                    class="bi bi-trash"></i></a>
                                            <a class="link-primary p-2" (click)="verificar(local)"><i
                                                    class="bi bi-check-lg"></i></a>
                                        </td>
                                    </tr>
                                    }
                                    }@else{
                                    <tr>
                                        <th colspan="4" class="text-center" i18n="no solicitud">No hay solicitudes de locales</th>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </mat-tab>
</mat-tab-group>