<section class="container p-md-5">
    <div class="row">
        <div class="col-12 col-md-3 d-flex align-items-center justify-content-center justify-content-md-between mt-4 mt-md-0">
            <img src="https://www.books4u.es/api/backProyectoFinal/public/img/default/userDefault.jpg" class="img-fluid rounded-circle"
                id="imgPreview">
        </div>
        <div class="col-12 col-md-9">
            <form [formGroup]="usuario" class="h-100 d-flex align-items-center">
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <label for="nombreUsuario" class="form-label" i18n="editUser name">Nombre</label>
                        <input type="text" class="form-control" id="nombreUsuario" placeholder="Nombre"
                            name="nombreUsuario" formControlName="nombre"
                            [ngClass]="{ 'is-valid': nombre?.valid, 'is-invalid': nombre?.invalid && (nombre?.touched || nombre?.dirty)}">
                        <div *ngIf="nombre?.invalid && (nombre?.touched || nombre?.dirty)"
                            class="invalid-feedback col-12">
                            @if (nombre?.hasError('required')) {
                            <span i18n="editUser name required">Campo obligatorio</span>
                            }@else if(nombre?.hasError('pattern')){
                            <span i18n="editUser name format">El nombre solo puede contener letras</span>
                            }
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label for="nickUsuario" class="form-label" i18n="editUser nick">Nick</label>
                        <input type="text" class="form-control" id="nickUsuario" placeholder="Nick" name="nickUsuario"
                            formControlName="nick"
                            [ngClass]="{ 'is-valid': nick?.valid, 'is-invalid': nick?.invalid && (nick?.touched || nick?.dirty)}">
                        <div *ngIf="nick?.invalid && (nick?.touched || nick?.dirty)" class="invalid-feedback col-12">
                            @if (nick?.hasError('required')) {
                            <span i18n="editUser nick required">Campo obligatorio</span>
                            }
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label for="emailUsuario" class="form-label" i18n="editUser email">Email</label>
                        <input type="text" class="form-control" id="emailUsuario" placeholder="Email"
                            name="emailUsuario" formControlName="email"
                            [ngClass]="{ 'is-valid': email?.valid, 'is-invalid': email?.invalid && (email?.touched || email?.dirty)}">
                        <div *ngIf="email?.invalid && (email?.touched || email?.dirty)" class="invalid-feedback col-12">
                            @if (email?.hasError('required')) {
                            <span i18n="editUser email required">Campo obligatorio</span>
                            }@else if(email?.hasError('pattern')){
                            <span i18n="editUser email format">Formato no valido</span>
                            }
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label for="passwdUsuario" class="form-label" i18n="editUser newPass">Nueva contraseña</label>
                        <input type="password" class="form-control" id="passwdUsuario" placeholder="Contraseña"
                            name="passwdUsuario" formControlName="password"
                            [ngClass]="{ 'is-valid': password?.valid, 'is-invalid': password?.invalid && (password?.touched || password?.dirty)}">
                        <div *ngIf="password?.invalid && (password?.touched || password?.dirty)"
                            class="invalid-feedback col-12">
                            @if (password?.hasError('pattern')) {
                                <span i18n="editUser newPass format">La contraseña debe contener mínimo 8 dígitos</span>
                            }
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label for="formFile" class="form-label" i18n="editUser image">Imagen perfil</label>
                        <input class="form-control" type="file" id="formFile" accept="image/png,image/jpeg"
                            (change)="preview($event)">
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label for="comunidades" class="form-label" i18n="editUser comunidad">Comunidades autónomas</label>
                        <select class="form-select" aria-label="comunidades" formControlName="comunidad" (change)="changeComunidad($event)" [ngClass]="{ 'is-valid': comunidad?.valid, 'is-invalid': comunidad?.invalid && (comunidad?.touched || comunidad?.dirty)}">
                            @for(comunidad of comunidades;track comunidad.code){
                                <option value="{{comunidad.label}}">{{comunidad.label}}</option>
                            }
                        </select>
                        <div *ngIf="comunidad?.invalid && (comunidad?.touched || comunidad?.dirty)"
                            class="invalid-feedback col-12">
                            @if (comunidad?.hasError('required')) {
                                <span i18n="editUser comunidad required">Campo obligatorio</span>
                            }
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label for="provincias" class="form-label" i18n="editUser provincias">Provincias</label>
                        <select class="form-select" aria-label="provincias" id="provincias" formControlName="provincia" (change)="changeProvincia($event)" [ngClass]="{ 'is-valid': provincia?.valid, 'is-invalid': provincia?.invalid && (provincia?.touched || provincia?.dirty)}">
                            @for(provincia of provincias;track provincia.code){
                                <option value="{{provincia.label}}">{{provincia.label}}</option>  
                            }
                        </select>
                        <div *ngIf="provincia?.invalid && (provincia?.touched || provincia?.dirty)"
                            class="invalid-feedback col-12">
                            @if (provincia?.hasError('required')) {
                                <span i18n="editUser provincias required">Campo obligatorio</span>
                            }
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label for="provincias" class="form-label" i18n="editUser poblacion">Población</label>
                        <select class="form-select" aria-label="poblaciones" id="poblaciones" formControlName="poblacion" [ngClass]="{ 'is-valid': poblacion?.valid, 'is-invalid': poblacion?.invalid && (poblacion?.touched || poblacion?.dirty)}">
                            @for(poblacion of poblacionesT; track poblacion.label){
                                <option value="{{poblacion.label}}">{{poblacion.label}}</option>
                            }
                        </select>
                        <div *ngIf="poblacion?.invalid && (poblacion?.touched || poblacion?.dirty)"
                            class="invalid-feedback col-12">
                            @if (poblacion?.hasError('required')) {
                                <span i18n="editUser poblacion required">Campo obligatorio</span>
                            }
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 text-end mb-4 mb-md-0">
            <button class="btn btn-outline-primary" (click)="updateUsuario()" [disabled]="!usuario.valid" i18n="editUser editar btn">Editar Usuario</button>
        </div>
    </div>
    {{usuario.value |json}}
</section>
