@font-face {
    font-family: "magz";
    src: url("/assets/fonts/Magz.otf");
}

@font-face {
    font-family: "PPNeue";
    src: url("/assets/fonts/PPNeueMontreal-Regular.woff2");
}

@font-face {
    font-family: "Migra";
    src: url("/assets/fonts/PPMigra-Italic.woff2");
}

@font-face {
    font-family: "Clearface";
    src: url("/assets/fonts/ClearfaceStd-Italic.7b1c098.woff2");
}
