<header class="d-none container-fluid d-md-flex justify-content-between align-items-center">
    <nav class="nav">
        <a class="nav-link" routerLink="/admin/generos">Géneros</a>
        <a class="nav-link" routerLink="/admin/usuarios">Usuarios</a>
        <a class="nav-link" routerLink="/admin/autores">Autores</a>
        <a class="nav-link" routerLink="/admin/locales">Locales</a>
    </nav>
    <div class="nav">
        <a class="nav-link" routerLink="/">Salir</a>
    </div>
</header>
<main class="p-md-5">
    <router-outlet></router-outlet>
</main>