.card{
    width: 100%;
}

.card:hover{
   cursor: pointer;
}

.heart{
    font-size: 15pt;
}

.card-img-top{
    height: 400px; 
    width: auto; 
    object-fit: cover;
}

a{
    color: black;
}

@media (max-width: 768px) {
    .card{
        width: 100%;
    }

    .card-img-top{
        height: 200px; 
    }

    h5{
        font-size: 10pt;
        margin-bottom: .25rem;
    }

    p{
        font-size: 7pt;
    }

    .heart{
        font-size: 10pt;
    }
}
